<!------ Include the above in your HEAD tag ---------->
  <div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-5">
                <div class="profile-img">
                   <img src="/assets/img/prof1.jpg" alt=""/>               
                    <!-- <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                               Vaibhav deore
                            </h5>
                            <h6>
                                Software Developer
                            </h6>
                            <p class="proile-rating"></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">About</a>                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab"  role="tab" aria-controls="profile" aria-selected="true">Download Profile</a>
                        </li>                        
                    </ul>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font">Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>Vaibhav Deore</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font">Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>vaibhavdeore5@gmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font">Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>+91-9595158828</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font">Profession</label>
                        </div>
                        <div class="col-md-6">
                            <p>UI and Backend Developer</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font">WebSite</label>
                        </div>
                        <div class="col-md-6">
                            <p>www.vaibhav.dev.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font">LinkdIn Profile</label>
                        </div>
                        <div class="col-md-6">
                            <p>linkedin.com/in/vaibhav-deore</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font">Git Hub Profile</label>
                        </div>
                        <div class="col-md-6">
                            <p>https://github.com/Vaibhavdeo</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font">Professional Experience</label>
                        </div>
                        <div class="col-md-6">
                            <p>5 Years</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font">Current Organization</label>
                        </div>
                        <div class="col-md-6">
                            <p>Varian Medical Systems Pune</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">                   
                    <p><h6 class="font">SKILLS</h6>
                    <a >JAVA</a><br/>
                    <a >Spring Boot</a><br/>
                    <a >ORM Frameworks</a><br/>
                    <a >Microservices</a><br/>
                    <a >C# .Net</a><br/>
                    <a >Angular</a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">                                        
                        <!-- <div class="paragraph">
                            <h2>Hello</h2>
                        </div> -->
                              
                    </div>
                    
                </div>
            </div>
        </div>
    </form>           
</div>